@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400|Open+Sans+Condensed:300');

:root {
    --primary-font: 'Montserrat', sans-serif;
    --secondary-font: 'Open Sans', sans-serif;
    --tertiary-font: 'Open Sans Condensed', sans-serif;
}
html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;   
    font-family: 'Poppins', sans-serif; 
    overflow-x: hidden;
}

.navmenu {
    display: flex;
    border: 5px solid black;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: background 0.5s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: white;
}


#itema, #itemb, #itemc, #itemd,#iteme {
    border: 4px solid black;
    padding: 8px;
    font-size: 18px;
    font-weight: bolder;
    background-color: white;
    color: black;
}

#itema:hover, #itemb:hover, #itemc:hover, #itemd:hover,#iteme:hover
#itema.active, #itemb.active, #itemc.active, #itemd.active,#iteme.active {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    background-color: black;
    color: white;
    transition: background 0.5s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px 40px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: black;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#header {
    position: relative;
    height: 150vh;
    width: 100%;
    background: linear-gradient(to right, #fbc2eb 0%, #a18cd1 100%);
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
#headera {
    position: relative;
    height: 150vh;
    width: 100%;
    background: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
#headerb {
    position: relative;
    height: 150vh;
    width: 100%;
    background: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
#headerc {
    position: relative;
    height: 150vh;
    width: 100%;
    background: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

#title {
    position: absolute;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    width: 100%;
    top: 50%;
    margin-top: -20px;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.scrolled {
    background-color: #555;
}